<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="dataBusSection" type="NetCoreDataBus.DataBusConfiguration, DataBusConfiguration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere"/>
  </configSections>
  <dataBusSection hostUrl="rabbitmq://localhost/" userName="guest" password="guest"/>
</configuration>